lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# Config stuff
.bashrc
.bash_aliases
dot.gitignore

pids
logs
results

npm-debug.log
node_modules
.idea
*.iml
.DS_Store
Thumbs.db

public/stylesheets/style.css
public/javascripts/application.js
